VITE_RETAIL_APP_URL = http://localhost:3000
# Production VITE_RETAIL_APP_URL = Deployed URL of the retail app

VITE_STORE_URL = https://www.shopxr.org
# Production: VITE_STORE_URL = Store URL of the store this app belongs to
